[Unit]
Description=uWSGI instance to serve bloh
After=network.target

[Service]
User=jcr
Group=www-data
WorkingDirectory=/home/jcr/Projects/blog/blog
Environment="PATH=/home/jcr/.pyenv/versions/blog/bin"
ExecStart=/home/jcr/.pyenv/versions/blog/bin/uwsgi --ini blog.ini

[Install]
WantedBy=multi-user.target
